<!doctype html>
<head>
   <title>Manage Users</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='main.js') }}"></script>

</head>
<body>
   <div class="main-container">
      <div class="sidebar">
<a href="{{ url_for('linkedin') }}" class="platform-button" data-platform="linkedin" data-chat-log="linkedin-chat-text">LinkedIn</a>
<a href="{{ url_for('ziprecruiter') }}" class="platform-button" data-platform="ziprecruiter" data-chat-log="ziprecruiter-chat-text">ZipRecruiter</a>


         <button id="status-btn" class="platform-button">Status Message</button>
      </div>
      <!--<div class="sidebar">-->
      <!--  <a href="{{ url_for('linkedin') }}" class="platform-button">LinkedIn</a>-->
      <!--  <a href="{{ url_for('ziprecruiter') }}" class="platform-button">ZipRecruiter</a>-->
      <!--</div>-->
      <div id="chat-container" class="chat-container">
         <div class="chat-log" id="chat-log">
            <div class="chat-header">Chat Header</div>
            <div class="chat-content">
                <textarea id="linkedin-chat-text" rows="10" cols="30" readonly></textarea>
        <textarea id="ziprecruiter-chat-text" rows="10" cols="30" readonly style="display: none;"></textarea>

            </div>
         </div>



          </div>
       </div>
</body>

<!--<div id="status-messages" style="display: none;">-->
<!--   <p id="status-r">Status Message R</p>-->
<!--   <p id="status-c">Status Message C</p>-->

<!--   <button id="display-r-btn">Display R.txt</button>-->
<!--   <button id="display-c-btn">Display C.txt</button>-->

<!--   <div id="file-contents">-->
<!--      <textarea id="r-content"></textarea>-->
<!--      <textarea id="c-content"></textarea>-->
<!--   </div>-->

<!--   <button id="save-btn">Save</button>-->
<!--</div>-->




<!--                <div class="user-container">-->
<!--            <div class="user-creation">-->
<!--               <form method="post">-->
<!--                  <input type="hidden" name="action" value="create">-->
<!--                  <input type="text" name="new_username" placeholder="New username" class="input-field">-->
<!--                  <input type="submit" value="Create User" class="user-button create-button">-->
<!--               </form>-->
<!--            </div>-->
<!--            <div class="user-selection">-->
<!--               <h2 class="current-user-title">Current User: {{ current_user or 'None' }}</h2>-->
<!--               &lt;!&ndash;              <ul>&ndash;&gt;-->
<!--               {% for user in users %}-->
<!--               <div class="user-button">-->
<!--                  <span class="user-name">{{ user }}</span> &lt;!&ndash; Wrap the user text &ndash;&gt;-->
<!--                  <div class="button-container">-->
<!--                     &lt;!&ndash; Wrap the buttons &ndash;&gt;-->
<!--                     <form method="post" style="display:inline">-->
<!--                        <input type="hidden" name="action" value="switch">-->
<!--                        <input type="hidden" name="username" value="{{ user }}">-->
<!--                        <input type="submit" value="Switch" class="switch-button">-->
<!--                     </form>-->
<!--                     <form method="post" style="display:inline">-->
<!--                        <input type="hidden" name="action" value="delete">-->
<!--                        <input type="hidden" name="username" value="{{ user }}">-->
<!--                        <input type="submit" value="X" class="close-button">-->
<!--                     </form>-->
<!--                  </div>-->
<!--               </div>-->
<!--               {% endfor %}-->
<!--               &lt;!&ndash;    </ul>&ndash;&gt;-->
<!--               {% if message %}-->
<!--               <div>-->
<!--                  <p>{{ message }}</p>-->
<!--               </div>-->
<!--               {% endif %}-->
<!--            </div>-->
<!--         </div>-->

<!--   </div>-->
<!--</body>-->